<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nefu.backendexamples.mapper.TeacherMapper">
    <select id="list" resultType="edu.nefu.backendexamples.dto.TeacherDTO">
        select u.name,
               u.number,
               t.title
        from user u join teacher t
        on u.id = t.id
    </select>
</mapper>